@charset "utf-8";
/* cssリセット */

/*利用するタグによってこちらの内容は増やす*/
html,
body,
h1,
h2,
h3,
p,
dl,
dt,
dd,
ul,
li {
    margin: 0;
    padding: 0;
    line-height: 1;
    /*デフォルトの文字色、font-familyを予め当てておく*/
    color: rgb(70, 70, 70);
    font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ",
        "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
}

a {
    /*下線を消す*/
    text-decoration: none;
    /*色を消す*/
    color: inherit;
}

ul {
    /*左の「・」を消す*/
    list-style: none;
}

img {
    max-width: 100%;
    vertical-align: bottom;
    border: none;
}

    /*ここから内容*/
body {
    background: gray;
}

header {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px 40px;
    display: flex;
    justify-content: space-around;
    background: #fff;
}

nav ul {
    padding: 5px 0;
    display: flex;
}

nav li {
    font-size: 14px;
    padding: 5px 30px;
    border-left: solid #000 1px;
}

li:first-child {
    border: none;
}

@media screen and (max-width:767px) {
    header {
        display: block;
        padding: 10px 5px;
    }

    h1 {
        margin-bottom: 5px;
    }

    nav ul {
        display: block;
        width: 100%;
    }

    nav li {
        display: block;
        padding: 10px 0;
        border-left: none;
        border-bottom: solid #000 1px;
        font-size: 12px;
    }

    li:first-child {
        border-bottom: solid #000 1px;
    }
}